* {
  font-family: 'PT Sans';
}

h1 {
  color: #FFF;
  margin-bottom: 0;
  padding: 15px;
}

h2 {
  background-color: #0B1942;
  color: #FFF;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav {
  background-color: #7DDFE8;
  display: flex;
  flex-direction: row;
  width: 100%;
}

nav li  {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: center;
  width: 100%;
}

nav a {
  color: #FFF;
  text-decoration: none;
}

.logo-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

img.nav-fc-logo {
  width: 7.5em;
  height: 7.5em;
}

  .nav-ul {
  display: flex;
  height: 100%;
  list-style: none;
  padding: 0;
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: 100%;
}

  .logo-wrapper {
    background-color: #F5005B;
}

  .nav-home {
  background-color: #00A5BF;
}

  .nav-calendar {
  background-color: #00B7D3;
}

  .nav-join {
  background-color: #00D5E7;
}
