* {
  font-family: 'PT Sans';
}

nav a {
  color: #FFF;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav-ul {
  list-style: none;
  padding: 0;
}

.nav-ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.logo-wrapper {
background-color: #F5005B;
}

.nav-home {
  background-color: #00A5BF;
}

.nav-calendar {
  background-color: #00B7D3;
}

.nav-join {
  background-color: #00D5E7;
}

h1 {
  color: #FFF;
}

h2 {
  background-color: #0B1942;
  color: #FFF;
}

#get-involved {
  background-color: inherit;
  color: #0B1942
}

.up-next {
  background-color: #0B1942;
}

.up-next a {
  color: #00B7D3
}

.rashomon {
  background-color: #E2E2E2;
}

._4-poster {
  background-color: #E2E2E2;
}

.copyright {
  background-color: #6CD6E0;
  color: #FFF;
  height: 65px;
}

@media screen and (max-width: 544px) {



  .logo-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

  img.nav-fc-logo {
    width: 90%;
    height: 90%;
  }



  nav li  {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  h1 {
    margin-bottom: 0;
    padding: 15px;
  }

  h2 {
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .get-involved {
    margin-left: 20px;
    margin-right: 20px;
  }

  .watch-take-meet h2 {
    padding-left: 20px;
  }

  .up-next {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }

  .up-next img {
    width: 200px;
  }

  .rashomon {
    display: flex;
    padding: 20px;
    margin-bottom: 15px;
  }

  .rashomon-text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }

  hr {
    width: 100%;
  }

  .discussion-points {
    list-style: circle;
  }

  ._4-poster {
    margin-top: 15px;
    padding: 20px;
  }

  ._4-poster img {
    padding: 5px;
  }

  ._4-poster span {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .top-posters {
    display: flex;
    justify-content: space-around;
  }

  .great-poster {
    display: flex;
    flex-direction: column;
  }

  .bicycle-poster {
    display: flex;
    flex-direction: column;
  }

  .bottom-posters {
    display: flex;
    justify-content: space-around;
  }

  .nosferatu-poster {
    display: flex;
    flex-direction: column;
  }

  .metropolis-poster {
    display: flex;
    flex-direction: column;
  }

  bottom-nav {
  }

  .bottom-nav ul {
    padding: 0;
  }
}

@media screen and (max-width: 768px;) {

nav li {
  display: flex;
  flex-direction: row;
}

}
